[tools]
{{ if and (eq .machineRole "work") (ne .machineType "wsl") }}
azure-cli = "latest"
{{ end }}
fd = "latest"
fzf = "latest"
github-cli = "latest"
go = "latest"
herdr = "latest"
jq = "latest"
lazygit = "latest"
lua-language-server = "latest"
neovim = "latest"
node = "lts"
python = "3.13"
ripgrep = "latest"
ruff = "latest"
shellcheck = "latest"
shfmt = "latest"
stylua = "latest"
tmux = "latest"
tree-sitter = "latest"
zoxide = "latest"
"go:golang.org/x/tools/gopls" = "0.23.0"
"npm:@tailwindcss/language-server" = "latest"
"npm:@vtsls/language-server" = "latest"
"npm:prettier" = "latest"
"npm:pyright" = "latest"
